<!-- <div class="card mb-4 shadow-sm"> -->
	<img class="img-fluid card-img-top" src="{{ scheduleItem.show.image?.medium || ''}}">
	<div class="airtime-container">
		<div class="airtime-container-date">{{ scheduleItem.airdate | date: 'MMM d' }}</div>
		<div class="airtime-container-time">{{ scheduleItem.airtime }}</div>
	</div>
	<div class="card-body">
			<a 
				[routerLink]="['show', scheduleItem.show.id]" 
				[routerLinkActive]="['active']" 
				class="d-block schedule-item-list-title mt-0 mb-1"
				>{{scheduleItem.show.name}}</a>
			<a [routerLink]="['show', scheduleItem.show.id, 'season', scheduleItem.season, 'episode', scheduleItem.id]"
				[routerLinkActiveOptions]="{ exact: true }"
				[routerLinkActive]="['active']"
			  class="d-block schedule-item-list-desc">{{scheduleItem.name}}</a>
	</div>
<!-- </div> -->